@import './layout.css';

:root{
  --main-color: #e5e5e5;
  --menu-color: #F7F6FF;
  --text-color: #02577A;
}

body,
body *{
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body{
  font-family: Joan, serif;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: var(--main-color);
}

